version: "1.0"

services:
  be:
    image: ${IMAGE}
    container_name: be
    pull_policy: always
    
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://${RDS_DNS}/${MYSQL_DATABASE}
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      

      # Google GenAI
      SPRING_AI_GOOGLE_GENAI_API_KEY: ${GOOGLE_GENAI_API_KEY}

      # OpenAI
      SPRING_AI_OPENAI_API_KEY: ${OPENAI_API_KEY}
      SPRING_AI_OPENAI_CHAT_OPTIONS_MODEL: ${OPENAI_MODEL}

      # Kakao OAuth
      OAUTH2_KAKAO_CLIENT_ID: ${KAKAO_CLIENT_ID}
      OAUTH2_KAKAO_REDIRECT_URI: ${KAKAO_REDIRECT_URI}

      # JWT
      APP_JWT_SECRET: ${JWT_SECRET}
      APP_JWT_ACCESS_EXP_MINUTES: ${JWT_ACCESS_EXP_MINUTES}
      APP_JWT_REFRESH_EXP_SECONDS: ${JWT_REFRESH_EXP_SECONDS}
